<div *ngIf="is_loading" fxLayout="column" fxLayoutAlign="space-around center"style="margin-top: 40%">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!is_loading">
  <h1 class="text-center">Add Calendar</h1>
  <div class="form-group">
    <form action="" method="post" (ngSubmit)="add(f)" #f="ngForm" >
      <div >
        <mat-form-field style="width: 100%" appearance="outline">
          <mat-label>Name</mat-label>
          <input  matInput ngModel required name="name"  #name="ngModel" type="text" id="lastName">
          <mat-icon color="warn" matSuffix>calendar_today</mat-icon>
        </mat-form-field>
      </div>
      <div class="text-center" style="margin-top: 3%" >

        <button [disabled]="f.invalid"  type="submit" mat-flat-button color="warn">ADD</button>
      </div>
    </form>
  </div>
</div>

