
  <div *ngIf="loading" fxLayout="row" fxLayoutAlign="space-around center">
    <mat-spinner></mat-spinner>
  </div>


<mat-card *ngIf="!loading" style="margin-left:4%;margin-top: 3%;margin-right: 4%">




  <mat-card-content >

      <div *ngIf="!isMobileResolution"  fxLayout="row" fxLayoutAlign="space-around center" >
        <div  >
        <div class="btn-group">
          <button
            mat-raised-button
            [color]="view === CalendarView.Month ? 'warn' : null"
            (click)="setView(CalendarView.Month)"
            [class.active]="view === CalendarView.Month"
          >
            Month
          </button>
          <button
            mat-raised-button
            [color]="view === CalendarView.Week ? 'warn' : null"
            (click)="setView(CalendarView.Week)"
            [class.active]="view === CalendarView.Week"
          >
            Week
          </button>
          <button
            mat-raised-button
            [color]="view === CalendarView.Day ? 'warn' : null"
            (click)="setView(CalendarView.Day)"
            [class.active]="view === CalendarView.Day"
          >
            Day
          </button>
        </div>
       </div>


        <div  fxLayout="row" fxLayoutAlign="space-around center"   >
          <button style="margin-right: 1%"   mwlCalendarPreviousView
                    [view]="view"
                    [(viewDate)]="viewDate"
                    (viewDateChange)="closeOpenMonthViewDay()"  mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
            <mat-icon style="font-size: 300%">keyboard_arrow_left</mat-icon>
          </button>
          <h3 style="text-align: center;color:black;">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
          <button    mwlCalendarNextView
                     color="warn"
                     [view]="view"
                     [(viewDate)]="viewDate"
                     (viewDateChange)="closeOpenMonthViewDay()" mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
            <mat-icon style="font-size: 300%">keyboard_arrow_right</mat-icon>
          </button>
        </div>
        <div >
          <button  mat-raised-button >
            <mat-icon>filter_alt</mat-icon>
            FILTER


          </button>
        </div>
      </div>
    <div *ngIf="isMobileResolution"  >
      <div fxLayout="row" fxLayoutAlign="end end"  >
        <button  mat-raised-button >
          <mat-icon>filter_alt</mat-icon>

        </button>
      </div>




      <div  fxLayout="row" fxLayoutAlign="space-around center"   >
        <button    mwlCalendarPreviousView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()"  mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
          <mat-icon style="font-size: 200%">keyboard_arrow_left</mat-icon>
        </button>
        <h6 style="text-align: center;color:black;">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h6>
        <button    mwlCalendarNextView
                   color="warn"
                   [view]="view"
                   [(viewDate)]="viewDate"
                   (viewDateChange)="closeOpenMonthViewDay()" mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
          <mat-icon style="font-size: 200%">keyboard_arrow_right</mat-icon>
        </button>
      </div>
        <div fxLayout="row" fxLayoutAlign="space-around center" >
          <div class="btn-group">
            <button
              mat-raised-button
              [color]="view === CalendarView.Month ? 'warn' : null"
              (click)="setView(CalendarView.Month)"
              [class.active]="view === CalendarView.Month"
            >
              Month
            </button>
            <button
              mat-raised-button
              [color]="view === CalendarView.Week ? 'warn' : null"
              (click)="setView(CalendarView.Week)"
              [class.active]="view === CalendarView.Week"
            >
              Week
            </button>
            <button
              mat-raised-button
              [color]="view === CalendarView.Day ? 'warn' : null"
              (click)="setView(CalendarView.Day)"
              [class.active]="view === CalendarView.Day"
            >
              Day
            </button>
          </div>

        </div>

      </div>


    <div >


      <div [ngSwitch]="view">
        <mwl-calendar-month-view
          *ngSwitchCase="CalendarView.Month"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (dayClicked)="dayClicked( $event.day)"


        >
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
          *ngSwitchCase="CalendarView.Week"
          [viewDate]="viewDate"
          [hourSegmentHeight]="20"

          [dayEndHour]="16"
          [dayStartHour]="8"
          [events]="events"
          [refresh]="refresh"
          (eventClicked)="handleEvent('Clicked', $event.event)"
        >
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
          *ngSwitchCase="CalendarView.Day"
          [viewDate]="viewDate"
          [events]="events"
          [dayStartHour]="8"
          [dayEndHour]="16"
          [refresh]="refresh"
          (eventClicked)="handleEvent('Clicked', $event.event)"
        >
        </mwl-calendar-day-view>
      </div>
    </div>
    <div style="position: absolute;bottom: 1%;right:1%" class="example-button-container">
      <button (click)="add_event()" mat-fab color="warn" aria-label="Example icon button with a bookmark icon">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-card-content>

</mat-card>

