<div *ngIf="is_Loading" fxLayout="row" fxLayoutAlign="space-around center">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!is_Loading" class="text-center">
  <h1 i18n>Everything you need</h1>

  <app-google-places (setAddress)="getAddress($event)" adressType="geocode"></app-google-places>
  <h3 i18n>
    Choose a service
  </h3>
  <div *ngIf="!isMobileResolution" fxLayout="row" fxLayoutAlign="space-around center" >
    <app-card-search [list]="l" *ngFor="let l of list" ></app-card-search>
  </div>
  <div  *ngIf="isMobileResolution">
    <app-card-search style="margin-bottom: 2%" fxLayout="row" fxLayoutAlign="space-around center" class="text-center" [list]="l" *ngFor="let l of list" ></app-card-search>
  </div>
</div>
