
<mat-card style="margin-top: 3%" class="example-card">
  <mat-card-header fxLayout="row" fxLayoutAlign="space-around center"   >

    <div  mat-card-avatar class="example-header-image"></div>
    <mat-card-title > {{userName}}</mat-card-title>
    <mat-card-subtitle >{{address}}</mat-card-subtitle>

      <div *ngIf="!isMobileResolution"  >
        <div fxFlexOffset="30" fxLayout="row" fxLayoutAlign="space-around center"   >
          <button style="margin-right: 1%"   mwlCalendarPreviousView
                  [view]="view"
                  [(viewDate)]="viewDate"
                  mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
            <mat-icon style="font-size: 300%">keyboard_arrow_left</mat-icon>
          </button>
          <h6 style="text-align: center;color:black;">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h6>
          <button    mwlCalendarNextView
                     color="warn"
                     [view]="view"
                     [(viewDate)]="viewDate"
                     mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
            <mat-icon style="font-size: 300%">keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </div>
    <div fxFlex="30"  ></div>

  </mat-card-header>
  <div *ngIf="isMobileResolution"  >
    <div  fxLayout="row" fxLayoutAlign="space-around center"   >
      <button style="margin-right: 1%"   mwlCalendarPreviousView
              [view]="view"
              [(viewDate)]="viewDate"
              mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
        <mat-icon style="font-size: 200%">keyboard_arrow_left</mat-icon>
      </button>
      <p style="text-align: center;color:black;">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</p>
      <button    mwlCalendarNextView
                 color="warn"
                 [view]="view"
                 [(viewDate)]="viewDate"
                 mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
        <mat-icon style="font-size: 200%">keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
  <mat-card-content>
    <mwl-calendar-week-view style="flex: 1;"
                            [viewDate]="viewDate"
                            [hourSegmentHeight]="20"
                            [events]="events"
                            [dayEndHour]="16"
                            [dayStartHour]="8"
                            [refresh]="refresh"
                            (eventClicked)="handleEvent('Clicked', $event.event)"
    ></mwl-calendar-week-view>
  </mat-card-content>
  <mat-card-actions class="text-center">
    <div class="example-button-container">
      <button style="border-color: red" color="warn"   mat-stroked-button aria-label="Example icon button with a menu icon">
        Profile
        <mat-icon>person</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
