
<mat-card style="margin-top: 3%" class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{userName}}</mat-card-title>
    <mat-card-subtitle>{{address}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mwl-calendar-week-view style="flex: 1;"
                            [viewDate]="viewDate"
                            [hourSegmentHeight]="20"
                            [events]="events"
                            [dayEndHour]="16"
                            [dayStartHour]="8"
                            [refresh]="refresh"
                            (eventClicked)="handleEvent('Clicked', $event.event)"
    ></mwl-calendar-week-view>
  </mat-card-content>
  <mat-card-actions class="text-center">
    <div class="example-button-container">
      <button style="border-color: red" color="warn"   mat-stroked-button aria-label="Example icon button with a menu icon">
        Profile
        <mat-icon>person</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
