<div *ngIf="is_loading" fxLayout="row" fxLayoutAlign="space-around center">
<mat-spinner></mat-spinner>
</div>
<div *ngIf="!is_loading">
  <h2 style="color: rgba(0,0,0,0.29)" class="text-center"> Appointment</h2>

  <mat-card-header fxLayout="row" fxLayoutAlign="start center"   >

    <mat-card-subtitle > {{calendarPro.firstName}} {{calendarPro.lastName}}</mat-card-subtitle>

  </mat-card-header>

  <div *ngIf="appointment.status =='WAIT' "  class="alert alert-info text-center">
    <mat-icon  class="example-tab-icon ">info</mat-icon>
    <br> Appointment still not VALIDATED.
  </div>
  <div *ngIf="appointment.status =='VALIDATED' "  class="alert alert-success text-center">
    <mat-icon  class="example-tab-icon ">verified</mat-icon>
    <br> Appointment VALIDATED.
  </div>
  <div *ngIf="appointment.status =='CANCELED' "  class="alert alert-danger text-center">
    <mat-icon  class="example-tab-icon ">priority_high</mat-icon>
    <br> Appointment CANCELED.
  </div>
  <mat-card-content style="margin-top: 2%">
    <div  fxLayout="row" fxLayoutAlign="space-around center">

    </div>
    <div  fxLayout="row" fxLayoutAlign="space-around center">

      <h6 style="color: rgba(0,0,0,0.29)" fxFlex="20" ><strong>Date:</strong></h6>
      <h6 fxFlex="60">{{appointment.date}}</h6>

    </div>
    <div  fxLayout="row" fxLayoutAlign="space-around center">

      <h6 style="color: rgba(0,0,0,0.29)" fxFlex="20" ><strong>Start Time:</strong></h6>
      <h6 fxFlex="60">{{appointment.start}}</h6>

    </div>
    <div  fxLayout="row" fxLayoutAlign="space-around center">

      <h6 style="color: rgba(0,0,0,0.29)" fxFlex="20" ><strong>Start Time:</strong></h6>
      <h6 fxFlex="60">{{appointment.end}}</h6>
    </div>
    <div  fxLayout="row" fxLayoutAlign="space-around center">

      <h6 style="color: rgba(0,0,0,0.29)" fxFlex="20" ><strong>Places:</strong></h6>
      <h6 fxFlex="60">{{appointment.nbPlaces}}</h6>
    </div>
    <div *ngIf="appointment.meeting"  fxLayout="row" fxLayoutAlign="space-between center">

      <h4 style="color: rgba(0,0,0,0.29)" ><strong>meeting Link:</strong></h4>
      <a [href]="appointment.meeting.meetingUrl" target="_blank">Link</a>
    </div>
  </mat-card-content>
  <mat-dialog-actions align="end">

    <button  mat-dialog-close="" mat-raised-button color="warn">close</button>

  </mat-dialog-actions>
</div>


