<div *ngIf="is_loading" fxLayout="column" fxLayoutAlign="space-around center"style="margin-top: 40%">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!is_loading">
  <div  class="text-center">
    <h1 class="text-center">EVENT</h1>
    <div class="form-group">
      <form [formGroup]="FormGroup" >
        <div > <h2>Recurrence <mat-slide-toggle formControlName="recurrence"  color="warn"></mat-slide-toggle></h2></div>
        <div *ngIf="FormGroup.value.recurrence" >
          <div>
            <mat-form-field    appearance="outline">
            <mat-label>Recurrence:</mat-label>
            <mat-select formControlName="recurrenceType" [value]="list[0]" required   >
              <mat-option *ngFor="let l of list"  [value]="l">{{l}}</mat-option>
            </mat-select>
          </mat-form-field>
                </div>
          <div  style="display: none" *ngIf="FormGroup.value.recurrenceType =='DAILY'">
          <mat-form-field appearance="outline">
            <mat-label>Recurrencea:</mat-label>
            <input [ngModel]="' '" formControlName="date" matInput required    >
          </mat-form-field>
        </div>
          <div *ngIf="FormGroup.value.recurrenceType =='WEEKLY'">
            <mat-form-field appearance="outline">
              <mat-label>Recurrence:</mat-label>
              <mat-select  formControlName="date" required   >
                <mat-option *ngFor="let day of days;let i =index"  [value]="i">{{day}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
              <div *ngIf="FormGroup.value.recurrenceType =='YEARLY'">
               <mat-form-field dateFormat1 appearance="outline">
              <mat-label>choose the day</mat-label>
              <input formControlName="date"  matInput required [matDatepicker]="dp2" >
              <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
              <mat-datepicker startView="year"  #dp2 panelClass="example-month-picker"></mat-datepicker>
            </mat-form-field>
            </div>
              <div *ngIf="FormGroup.value.recurrenceType =='MONTHLY'">
                <mat-form-field dateFormat2 appearance="outline">
                  <mat-label>choose the day</mat-label>
                  <label>
                    <input formControlName="date"   required matInput [matDatepicker]="dp3"  >
                  </label>
                  <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                  <mat-datepicker startView="month"  #dp3 panelClass="example-month-picker"></mat-datepicker>
                </mat-form-field>
          </div>



    </div>



          <mat-form-field *ngIf="!FormGroup.value.recurrence" appearance="outline">
            <mat-label>Date</mat-label>
            <input formControlName="date" required matInput [matDatepicker]="picker">
            <mat-datepicker-toggle style="color: black;font-size: 180%" matSuffix [for]="picker"></mat-datepicker-toggle>

            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>


        <p>
          <mat-form-field appearance="outline">
            <mat-label>Start Time</mat-label>
            <input matInput  formControlName="start"  aria-label="default time" [ngxTimepicker]="fullTime1" [format]="24"  >
            <ngx-material-timepicker #fullTime1></ngx-material-timepicker>
            <mat-icon matSuffix>schedule</mat-icon>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>End Time</mat-label>
            <input matInput  [ngxTimepicker]="fullTime2" [format]="24" formControlName="end" >
            <ngx-material-timepicker #fullTime2></ngx-material-timepicker>
            <mat-icon matSuffix>schedule</mat-icon>
          </mat-form-field>
        </p>






        <div fxLayout="row" fxLayoutAlign="space-around center">
          <h5 >Color:</h5>
          <mat-radio-group formControlName="color"  style="font-size: 200%" aria-label="Select an option">
            <mat-radio-button  class="pink_circle"  value="pink"></mat-radio-button>
            <mat-radio-button class="red_circle"  value="red"></mat-radio-button>
            <mat-radio-button class="blue_circle"  value="blue"></mat-radio-button>
            <mat-radio-button class="green_circle"  value="green"></mat-radio-button>
            <mat-radio-button class="yellow_circle"  value="yellow"></mat-radio-button>
          </mat-radio-group>
        </div>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Add Friend(e-mail)</mat-label>
            <mat-chip-list #chipList1 >
              <input [matChipInputFor]="chipList1"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="add_friend($event)" >
            </mat-chip-list>
            <mat-icon matSuffix>group_add</mat-icon>
          </mat-form-field>
          <br>

          <mat-chip *ngFor="let friend of friends" [selectable]="selectable"
                    [removable]="removable" (removed)="remove_friend(friend)">
            {{friend}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Tag</mat-label>
            <mat-chip-list #chipList >
              <input  matInput [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="add_tag($event)" >
            </mat-chip-list>
            <mat-icon matSuffix>sell</mat-icon>
          </mat-form-field>
          <br>

          <mat-chip *ngFor="let tags of tags" [selectable]="selectable"
                    [removable]="removable" (removed)="remove_tag(tags)">
            {{tags}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
        </p>

        <div class="text-center" >
          <label for="description"></label><textarea formControlName="description" id="description"    class="form-control " rows="3" placeholder="Description"></textarea>

        </div>

      </form>
      <div  fxLayout="row" fxLayoutAlign="space-around center" >
        <h5>Image:</h5>
        <input ngModel   type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*" style="display:none;" />
        <h5 *ngIf="file">{{file.data.name}}</h5>
        <button type="button" mat-mini-fab color="warn" (click)="onClick()"  mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <mat-icon>file_upload</mat-icon>
        </button>
      </div>

      <div class="text-center" style="margin-top: 3%" >

        <button *ngIf="!event" (click)="add()" [disabled]="FormGroup.invalid"  type="submit" mat-flat-button color="warn">ADD</button>
        <button *ngIf="event" (click)="update()" [disabled]="FormGroup.invalid"  type="submit" mat-flat-button color="warn">Update</button>
      </div>


    </div>
  </div>

</div>
