<body>
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-xl-9 mx-auto">
      <div class="card card-signin flex-row my-5">
        <div class="card-img-left d-none d-md-flex">
          <!-- Background image for card set in CSS! -->
        </div>
        <div class="card-body">
          <h5  class="card-title text-center">Login</h5>
          <form action="" method="post" (ngSubmit)="login(f)" #f="ngForm" class="form-signin">
            <div class="form-group">
              <input ngModel required name="userName"  #userName="ngModel" type="text" id="userName" class="form-control" placeholder="userName"  autofocus>
            </div>



            <div class="form-group">
              <input type="password" id="inputPassword" class="form-control" id="Password" placeholder="Password" ngModel required name="Password"  #Password="ngModel">
            </div>

            <div >
              <button [disabled]="f.invalid" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Login</button>
              <a (click)="router.navigateByUrl('sign-up')" class="d-block text-center mt-2 small" >Sign Up</a>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

