<div *ngIf="is_loading" fxLayout="row" fxLayoutAlign="space-around center">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!is_loading" fxLayout="column" fxLayoutAlign="space-around center" >

    <mat-card-content class="text-center"  >
      <div  fxLayout="row" fxLayoutAlign="space-around center">

        <h6 style="color: rgba(0,0,0,0.29)" fxFlex="20" ><strong>Start:</strong></h6>
        <h6 fxFlex="60">{{data.seance.start}}</h6>

      </div>
      <div  fxLayout="row" fxLayoutAlign="space-around center">

        <h6 style="color: rgba(0,0,0,0.29)" fxFlex="20" ><strong>End:</strong></h6>
        <h6 fxFlex="60">{{data.seance.end}}</h6>

      </div>
    </mat-card-content>
    <mat-dialog-actions align="end">
      <button (click)="delete()"   mat-raised-button color="warn">Delete</button>
      <button  mat-dialog-close="" mat-raised-button color="warn">close</button>
    </mat-dialog-actions>
  </div>

