<!--
<app-header></app-header>
-->
<mat-drawer-container fullscreen autosize >

  <mat-drawer #sidenav mode="side" opened="true" role="navigation" style="background-color:#fafafa">
    <ng-container >

      <div fxLayout="column" fxLayoutAlign="space-around center" >
        <div style="margin-top: 50%;margin-bottom: 50%">
          <mat-list >

            <mat-list-item style="cursor: pointer;font-size: 200%"  >
              <mat-icon  matListIcon>facebook</mat-icon>
              <h3 *ngIf="expand" matLine>I-events</h3>

            </mat-list-item>
          </mat-list>
        </div>
        <div >
          <mat-list >

              <mat-list-item [style.color]="route_active!=l.path ? 'rgba(0, 0, 0, 0.3)' : null" style="cursor: pointer"  (click)="navigate(l.path)" *ngFor="let l of list" >
              <div *ngIf="route_active===l.path"  class="rectangle"></div>
              <mat-icon *ngIf="route_active!=l.path" fontSet="material-icons-outlined"  matListIcon>{{l.icon}}</mat-icon>
              <mat-icon  *ngIf="route_active===l.path" style="color: #58CB7D" matListIcon>{{l.icon}}</mat-icon>
              <h3 *ngIf="expand" matLine><strong>{{l.title}}</strong></h3>
              <hr>

            </mat-list-item>
            <mat-list-item [style.color]="route_active!='login'? 'rgba(0, 0, 0, 0.3)' : null" style="cursor: pointer"  (click)="logout()"  >
              <div *ngIf="route_active==='login'"  class="rectangle"></div>
              <mat-icon *ngIf="route_active!='login'" fontSet="material-icons-outlined"  matListIcon>logout</mat-icon>
              <mat-icon  *ngIf="route_active==='login'" style="color: #58CB7D" matListIcon>logout</mat-icon>
              <h3 *ngIf="expand" matLine><strong>LOG OUT</strong></h3>
              <hr>

            </mat-list-item>

          </mat-list>
          <!--
           <mat-list *ngIf="l.title==='CALENDRIER'">
            <mat-list-item  [style.color]="index!=i ? 'rgba(0, 0, 0, 0.3)' : null" style="cursor: pointer" (click)="index=i"   *ngFor="let l2 of list_calendar;let i = index" >
              <div *ngIf="index===i "  class="rectangle"></div>
              <mat-icon *ngIf="index!=i " fontSet="material-icons-outlined"  matListIcon>calendar</mat-icon>
              <mat-icon  *ngIf="index===i " style="color: #58CB7D" matListIcon>calendar</mat-icon>
              <h3 *ngIf="expand" matLine><strong>{{l2}}</strong></h3>
            </mat-list-item>
          </mat-list>
          -->

        </div>

      </div>
    </ng-container>
  </mat-drawer>
  <mat-drawer-content autosize >
    <p>
      <mat-toolbar style="background: rgba(0,0,0,0)">
        <mat-toolbar-row >

          <button (click)="expand=!expand"  mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>more_vert</mat-icon>
          </button>
          <button [matMenuTriggerFor]="menu" mat-raised-button >
            LANGUAGE
            <mat-icon>keyboard_arrow_down</mat-icon>

          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>ANGLAIS</button>
            <button  mat-menu-item>FRANCAIS</button>
          </mat-menu>
          <div style="position: absolute;right:1%" class="example-button-container">
            <button   mat-mini-fab color="white" aria-label="Example icon button with a bookmark icon">
              <mat-icon matBadge="15" matBadgeColor="warn" style="color: #cb4f00">notifications</mat-icon>
            </button>
          </div>
        </mat-toolbar-row>

      </mat-toolbar>
    </p>
    <router-outlet></router-outlet>

  </mat-drawer-content>
</mat-drawer-container>
