<body>
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-xl-9 mx-auto">
      <div class="card card-signin flex-row my-5">
        <div class="card-img-left d-none d-md-flex">
          <!-- Background image for card set in CSS! -->
        </div>
        <div class="card-body">
          <h5  class="card-title text-center">Sign Up</h5>
          <form action="" method="post" (ngSubmit)="createUser(f)" #f="ngForm" class="form-signin text-center">
            <mat-form-field style="width: 100%" appearance="outline">
              <mat-label>userName</mat-label>
              <input  matInput ngModel required name="userName"  #userName="ngModel" type="text" id="userName"    autofocus >
              <mat-icon color="accent" matSuffix>person</mat-icon>
            </mat-form-field>
            <mat-form-field style="width: 100%" appearance="outline">
              <mat-label>email</mat-label>
              <input  matInput ngModel required name="email" email  #email="ngModel" type="email" id="email">
              <mat-icon color="accent" matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field style="width: 100%" appearance="outline">
              <mat-label>firstName</mat-label>
              <input  matInput ngModel required name="firstName"  #firstName="ngModel" type="text" id="firstName">
              <mat-icon color="accent" matSuffix>person</mat-icon>
            </mat-form-field>
            <mat-form-field style="width: 100%" appearance="outline">
              <mat-label>lastName</mat-label>
              <input  matInput ngModel required name="lastName"  #lastName="ngModel" type="text" id="lastName">
              <mat-icon color="accent" matSuffix>person</mat-icon>
            </mat-form-field>
            <mat-form-field style="width: 100%" appearance="outline">
              <mat-label>Password</mat-label>
              <input  matInput type="password" id="inputPassword" id="Password"  ngModel required name="Password"  #Password="ngModel">
              <mat-icon color="accent" matSuffix>lock</mat-icon>
            </mat-form-field>

            <div >
              <button style="width: 100%" class="btn-lg"  type="submit" [disabled]="f.invalid" mat-raised-button color="warn">Sign Up</button>
              <br>
              <button (click)="router.navigateByUrl('login')" mat-button color="warn">Login</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

