
<main style="margin-top: 4%" class="profile-page">
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--200">
        <div >
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                  <img src="../../../assets/img/profile.png" class="rounded-circle">
              </div>
            </div>
            <div class="col-lg-4 order-lg-3 text-lg-left align-self-lg-center">
              <div class="card-profile-actions py-2 mt-lg-0">
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">

            </div>
          </div>
          <div   class="text-center mt-5">

            <h3 style="color: #007bff"> {{userService.userConnected.firstName}} {{userService.userConnected.lastName}}
            </h3>
          <p style="margin-right: 10%;margin-left: 10%">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias aliquid, commodi consequatur, ducimus fugiat illum, itaque laborum molestiae officia perferendis quam quod reiciendis repudiandae rerum saepe ullam veniam voluptatum?</p>
          </div>

          <mat-tab-group>
            <mat-tab label="EVENTS HISTORY"> <div div fxLayout="row" fxLayoutAlign="space-around center" >
              <app-event fxFlex="40" ></app-event>
            </div> </mat-tab>
            <mat-tab label="TODAY EVENTS"> <app-calendar-profile></app-calendar-profile> </mat-tab>

            <mat-tab label="MODIFY INFORMATION">
              <div class="text-center mt-5"  >
                <form action="" method="post" (ngSubmit)="update_user_name(f)" #f="ngForm" >
                  <mat-form-field style="margin-right: 1%">
                    <mat-label>First name</mat-label>
                    <input [ngModel]="userService.userConnected.firstName" required name="firstName"  #firstName="ngModel" type="text" id="firstName"  matInput >
                  </mat-form-field>
                  <mat-form-field style="margin-right: 1%">
                    <mat-label >Last name</mat-label>
                    <input [ngModel]="userService.userConnected.lastName" required name="lastName"  #lastName="ngModel" type="text" id="lastName"  matInput >

                  </mat-form-field>
                  <button type="submit" [disabled]="f.invalid" style="margin-right: 1%" class="btn-danger" mat-raised-button>Submit</button>
                </form>

            </div>

              <div class="text-center mt-5"  >
                <form action="" method="post" (ngSubmit)="update_user_password(f1)" #f1="ngForm" >
                <mat-form-field style="margin-right: 1%">
                  <mat-label>New Password</mat-label>
                  <input type="password"  ngModel required name="password"  #password="ngModel"  matInput >
                </mat-form-field>
                <mat-form-field style="margin-right: 1%">
                  <mat-label>Confirm Password</mat-label>
                  <input type="password"  ngModel required name="password1"  #password1="ngModel"  matInput >
                </mat-form-field>
                <button  type="submit" [disabled]="f1.invalid||password.value!=password1.value"  style="margin-right: 1%" class="btn-danger" mat-raised-button>Submit</button>
                  <br>
               <span style="color: #ea4335;font-size: 200%" *ngIf="password1.touched&&password.value!=password1.value">passwords don't match</span>
                </form>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </section>
</main>

<!--
<button mat-raised-button (click)="isEditable = !isEditable">
  {{!isEditable ? 'Enable edit mode' : 'Disable edit mode'}}
</button>

<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="firstCtrl" placeholder="Last name, First name" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
-->
