<main class="profile-page">
    <section style="padding-top: 80px" width="900px" class="section">

        <div class="container">

            <div class="card card-profile shadow mt--200">
                <div>
                    <div class="row ">
                        <div class="col-md-20 col-lg-12 text-center">

                            <div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="container">
                                                <div class="profile-env">
                                                    <header class="row">
                                                        <div class="col-sm-2">
                                                            <a href="#" class="profile-picture">
                                                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="img-responsive img-circle"> </a>
                                                        </div>
                                                        <div class="col-sm-7">
                                                            <ul class="profile-info-sections">
                                                                <li>
                                                                    <div class="profile-name">
                                                                        <strong>
                                                                  <h3> {{userService.userConnected.lastName}} {{userService.userConnected.firstName}}

                                                                  </h3>
                                                              </strong>
                                                                    </div>

                                                                </li>

                                                            </ul>
                                                        </div>

                                                    </header>
                                                    <section class="profile-info-tabs">
                                                        <div class="row">
                                                            <div class="col-sm-offset-2 col-sm-10">
                                                                <ul class="user-details">


                                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



                                                                </ul>
                                                                <!-- tabs for the profile links -->


                                                            </div>
                                                        </div>
                                                    </section>
                                                </div>
                                            </div>
                                            <div class="content social-timeline">
                                                <div class="">

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="col-lg-4 order-lg-1">


                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="buttonRow">
                    <mat-tab-group id="linkLabel" mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
                        <div class="tabContent">

                            <mat-tab id="tab1" label="informations Personelles">

                                <ng-template mat-tab-label>
                                    <mat-icon>info</mat-icon> informations Personnels

                                </ng-template>

                                <div class="text-center mt-5">
                                    <div class="row ">

                                        <div class="col-sm-12">

                                            <div class="card">

                                                <div class="card-header">
                                                    <span class="material-icons-outlined">
                                                    info
                                                    </span>
                                                    <h5 class="card-header-text">Basic Information</h5>
                                                    <button id="edit-btn" type="button" class="btn btn-warning waves-effect waves-light f-right">
                                                           <i class="icofont icofont-edit"></i></button>
                                                </div>

                                                <div class="card-body">

                                                    <div style="padding-top: 5%;">
                                                        <mat-form-field *ngIf="is_editfirstname" style="margin-right:20%;">
                                                            <mat-icon matSuffix>face</mat-icon>
                                                            <mat-label>prenom</mat-label>

                                                            <input [ngModel]="userService.userConnected.firstName" required name="firstName" #firstName="ngModel" type="text" id="firstName" matInput>
                                                        </mat-form-field>

                                                        <h6 style="margin-right:20%;" *ngIf="!is_editfirstname"> {{userService.userConnected.firstName}} </h6>


                                                        <button style="margin-left:20%; top: -43px;" *ngIf="!is_editfirstname" (click)="is_editfirstname=true" mat-mini-fab color="primary" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                                                <span class="material-icons-outlined">edit</span></button>

                                                        <div *ngIf="is_editfirstname" style="margin-right: 20%" class="example-button-container">
                                                            <button style="margin-left: 25%;" (click)="is_editfirstname=false" mat-mini-fab color="success" aria-label="Example icon button with a filter list icon">
                                              <span class="material-icons-outlined">
                                                done
                                                </span>
                                              </button>

                                                            <button style="margin-left: 10%;" (click)="is_editfirstname=false" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                                              <mat-icon>cancel</mat-icon>
                                              </button>
                                                        </div>

                                                    </div>

                                                    <div>
                                                        <mat-form-field *ngIf="is_editname" style="margin-right:20%">

                                                            <mat-icon matSuffix>face</mat-icon>
                                                            <mat-label>Nom</mat-label>
                                                            <input [ngModel]="userService.userConnected.lastName" required name="lastName" #lastName="ngModel" type="text" id="lastName" matInput>
                                                        </mat-form-field>

                                                        <h6 *ngIf="!is_editname" style="margin-right:20%;"> {{userService.userConnected.lastName}} </h6>

                                                        <button style="margin-left:20%; top: -43px;" *ngIf="!is_editname" (click)="is_editname=true" mat-mini-fab color="primary" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                                                     <mat-icon class="editstyle" matTooltip="Edit Issue Data">edit</mat-icon>
                                                    </button>

                                                        <div *ngIf="is_editname" style="margin-right: 20%" class="example-button-container">
                                                            <button style="margin-left: 25%;" (click)="is_editname=false" mat-mini-fab color="success" aria-label="Example icon button with a filter list icon">
                                                          <span class="material-icons-outlined">
                                                            done
                                                            </span>
                                                           </button>

                                                            <button style="margin-left: 10%;" (click)="is_editname=false" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                                                          <mat-icon>cancel</mat-icon>
                                                          </button>

                                                        </div>


                                                    </div>
                                                    <div>
                                                        <mat-form-field *ngIf="is_editnaiss" style="margin-right:19%">
                                                            <mat-label>Date de Naissance</mat-label>
                                                            <input ngModel required name="date" id="date" #date="ngModel" matInput [matDatepicker]="picker">
                                                            <mat-datepicker-toggle style="color: black;font-size: 180%" matSuffix [for]="picker">
                                                            </mat-datepicker-toggle>
                                                            <mat-datepicker #picker></mat-datepicker>
                                                        </mat-form-field>

                                                        <h6 *ngIf="!is_editnaiss" style="margin-right:20%;"> 28 decembere 2000 </h6>

                                                        <button style="margin-left:20%; top: -43px;" *ngIf="!is_editnaiss" (click)="is_editnaiss=true" mat-mini-fab color="primary" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                                             <mat-icon class="editstyle" matTooltip="Edit Issue Data">edit</mat-icon>
                                            </button>

                                                        <div *ngIf="is_editnaiss" style="margin-right: 20%" class="example-button-container">
                                                            <button style="margin-left: 25%;" (click)="is_editnaiss=false" mat-mini-fab color="success" aria-label="Example icon button with a filter list icon">
                                                  <span class="material-icons-outlined">
                                                    done
                                                    </span>
                                                   </button>

                                                            <button style="margin-left: 10%;" (click)="is_editnaiss=false" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                                                  <mat-icon>cancel</mat-icon>
                                                  </button>

                                                        </div>
                                                    </div>


                                                    <div>
                                                        <mat-form-field *ngIf="is_editgenre" style="margin-right:20%;">
                                                            <mat-label>Sexe</mat-label>
                                                            <mat-select #Sexe>
                                                                <mat-option value="masculin">Masculin</mat-option>
                                                                <mat-option value="feminin">Feminin</mat-option>
                                                            </mat-select>

                                                        </mat-form-field>

                                                        <h6 style="margin-right:20%;" *ngIf="!is_editgenre"> masculin</h6>
                                                        <button style="margin-left:20%; top: -43px;" *ngIf="!is_editgenre" (click)="is_editgenre=true" mat-mini-fab color="primary" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                                                      <mat-icon class="editstyle" matTooltip="Edit Issue Data">edit</mat-icon>
                                                  </button>

                                                        <div *ngIf="is_editgenre" style="margin-right: 20%" class="example-button-container">
                                                            <button style="margin-left: 25%;" (click)="is_editgenre=false" mat-mini-fab color="success" aria-label="Example icon button with a filter list icon">
                                                    <span class="material-icons-outlined">
                                                      done
                                                      </span>
                                                     </button>
                                                            <button style="margin-left: 10%;" (click)="is_editgenre=false" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                                                          <mat-icon>cancel</mat-icon>
                                                  </button>
                                                        </div>
                                                    </div>

                                                </div>


                                            </div>
                                        </div>
                                        <!-- contact card -->
                                        <div class="col-sm-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <span class="material-icons-outlined"> contact_support</span>
                                                    <h5 class="card-header-text">Contact Information</h5>
                                                    <button id="edit-Contact" type="button" class="btn btn-info waves-effect waves-light f-right">
                                                    <i class="icofont icofont-edit"></i>
                                                 </button>
                                                </div>

                                                <div class="card-body">


                                                    <div style="padding-top: 5%;">

                                                        <mat-form-field *ngIf="is_editaddrs" style="margin-left: 10%">
                                                            <mat-icon matSuffix> domain </mat-icon>
                                                            <input required name="adresse" type="text" id="adresse" matInput>
                                                        </mat-form-field>
                                                        <h6 style="margin-right:20%;" *ngIf="!is_editaddrs"> cite ettamir sousse</h6>
                                                        <button style="margin-left:30%;  top: -60px;" *ngIf="!is_editaddrs" (click)="is_editaddrs=true" mat-mini-fab color="primary" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                                              <mat-icon class="editstyle" matTooltip="Edit Issue Data">edit</mat-icon>
                                                  </button>
                                                        <div *ngIf="is_editaddrs" class="example-button-container">
                                                            <button (click)="is_editaddrs=false" mat-mini-fab color="success" aria-label="Example icon button with a filter list icon">
                                                              <span class="material-icons-outlined"> done</span>
                                                   </button>
                                                            <button style="margin-left: 10%;" (click)="is_editaddrs=false" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                                                        <mat-icon>cancel</mat-icon>
                                                </button>
                                                        </div>

                                                    </div>
                                                    <div>

                                                        <mat-form-field *ngIf="is_editville" style="margin-left: 20%">
                                                            <mat-icon matSuffix> place</mat-icon>
                                                            <mat-label>ville</mat-label>
                                                            <input required name="ville" type="text" id="ville" matInput>
                                                        </mat-form-field>

                                                        <h6 style="margin-right:20%;" *ngIf="!is_editville"> sousse</h6>
                                                        <button style="margin-left:30%;  top: -60px;" *ngIf="!is_editville" (click)="is_editville=true" mat-mini-fab color="primary" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                                                          <mat-icon class="editstyle" matTooltip="Edit Issue Data">edit</mat-icon>
                                                          </button>
                                                        <div *ngIf="is_editville" class="example-button-container">
                                                            <button (click)="is_editville=false" mat-mini-fab color="success" aria-label="Example icon button with a filter list icon">
                                                              <span class="material-icons-outlined"> done</span>
                                                            </button>
                                                            <button style="margin-left: 10%;" (click)="is_editville=false" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                                                               <mat-icon>cancel</mat-icon>
                                                                  </button>
                                                        </div>
                                                    </div>

                                                    <div>

                                                        <mat-form-field *ngIf="is_editphone" style="margin-left: 20%">
                                                            <mat-icon matSuffix> call</mat-icon>

                                                            <mat-label> Phone number </mat-label>
                                                            <input required name="phone" type="text" id="phone" matInput>
                                                        </mat-form-field>

                                                        <h6 style="margin-right:20%;" *ngIf="!is_editphone"> {{21655111222}} </h6>
                                                        <button style="margin-left:30%;  top: -60px;" *ngIf="!is_editphone" (click)="is_editphone=true" mat-mini-fab color="primary" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                                                        <mat-icon class="editstyle" matTooltip="Edit Issue Data">edit</mat-icon>
                                                        </button>
                                                        <div *ngIf="is_editphone" class="example-button-container">
                                                            <button (click)="is_editphone=false" mat-mini-fab color="sucess" aria-label="Example icon button with a filter list icon">
                                                              <span class="material-icons-outlined"> done</span>
                                                          </button>
                                                            <button style="margin-left: 10%;" (click)="is_editphone=false" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                                                             <mat-icon>cancel</mat-icon>
                                                           </button>

                                                        </div>
                                                    </div>

                                                    <div>
                                                        <mat-form-field *ngIf="is_editmail" style="margin-left: 20%">
                                                            <mat-icon matSuffix> email</mat-icon>
                                                            <mat-label>Email </mat-label>
                                                            <input [ngModel]="userService.userConnected.email" required name="Email" #Email="ngModel" type="text" id="Email" matInput>
                                                        </mat-form-field>
                                                        <h6 style="margin-right:20%" *ngIf="!is_editmail"> {{userService.userConnected.email}} </h6>

                                                        <button style="margin-left:30%;  top: -60px;" *ngIf="!is_editmail" (click)="is_editmail=true" mat-mini-fab color="primary" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                                                      <mat-icon class="editstyle" matTooltip="Edit Issue Data">edit</mat-icon>
                                                      </button>
                                                        <div *ngIf="is_editmail" class="example-button-container">
                                                            <button (click)="is_editmail=false" mat-mini-fab color="success" aria-label="Example icon button with a filter list icon">
                                                              <span class="material-icons-outlined"> done</span>
                                                        </button>
                                                            <button style="margin-left: 10%;" (click)="is_editmail=false" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                                                           <mat-icon>cancel</mat-icon>
                                                         </button>

                                                        </div>

                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                        <!-- card-Work -->
                                        <div class="col-sm-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <span class="material-icons-outlined">
                                                    settings
                                                    </span>
                                                    <h5 class="card-header-text">Advanced Settings</h5>
                                                    <button id="edit-work" type="button" class="btn btn-success waves-effect waves-light f-right">
                 <i class="icofont icofont-edit"></i>
                      </button>
                                                </div>
                                                <div class="card-block">
                                                  <mat-list >
                                                    <div>
                                                      <mat-list-item fxLayout="row" fxLayoutAlign="space-around center" >
                                                        <h6 style="margin-right: 5%"  >selected Calendar: <strong>{{userService.userConnected.selectedCalendar.name}}</strong></h6>
                                                        <button (click)="change_calendar()" mat-mini-fab aria-label="Example icon button with a vertical three dot icon" color="primary">
                                                          <mat-icon>published_with_changes</mat-icon>
                                                        </button>

                                                      </mat-list-item>
                                                    </div>
                                                  </mat-list>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </mat-tab>
                            <mat-tab id="tab2" label="Tab2">
                                <ng-template mat-tab-label>
                                    <mat-icon>build</mat-icon> securite
                                </ng-template>

                                <!-- securite card -->

                                <div class="text-center mt-5">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <span class="material-icons-outlined">  lock </span>
                                                    <h5 class="card-header-text">change Password</h5>
                                                    <button id="edit-work" type="button" class="btn btn-success waves-effect waves-light f-right">
                                                    <i class="icofont icofont-edit"></i>
                                                      </button>
                                                </div>
                                                <div class="card-block">


                                                    <form>

                                                        <div *ngIf="!is_change" style="text-align: center;">

                                                            <button (click)="is_change=true" class="btn-danger" mat-raised-button>    modifier mot de passe</button>
                                                        </div>

                                                        <p>&nbsp;</p>
                                                        <p>&nbsp;</p>

                                                        <div *ngIf="is_change">

                                                            <mat-form-field style="margin-left: 10%">
                                                                <mat-label>mode de passe actuel</mat-label>
                                                                <input type="password" ngModel required name="password" #password="ngModel" matInput>

                                                            </mat-form-field>


                                                            <mat-form-field style="margin-left: 15%">
                                                                <mat-label>Nouveau mot de passe</mat-label>
                                                                <input type="password" ngModel required name="password" #password="ngModel" matInput>

                                                            </mat-form-field>



                                                            <mat-form-field style="margin-left: 19%">

                                                                <mat-label>Confirmer Nouveau mot de passe</mat-label>
                                                                <input type="password" ngModel required name="password1" #password1="ngModel" matInput>

                                                            </mat-form-field>

                                                            <div style="padding-top: 10%;">

                                                                <button (click)="is_change=true" class="btn-danger" mat-raised-button>  changer </button>

                                                            </div>


                                                        </div>

                                                    </form>



                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </mat-tab>


                            <mat-tab id="tab3" label="Mes Contacts">
                                <ng-template mat-tab-label>
                                    <mat-icon>person_add</mat-icon> Mes Contactes
                                </ng-template>



                            </mat-tab>


                            <mat-tab label="PAIEMENT " icon="payement">

                                <ng-template mat-tab-label>
                                    <mat-icon>payment</mat-icon>payment

                                </ng-template>


                            </mat-tab>


                            <mat-icon>payment</mat-icon>




                        </div>
                    </mat-tab-group>

                </div>


            </div>



        </div>
    </section>
</main>


