<mat-horizontal-stepper *ngIf="!loading" linear #stepper>

    <mat-step [stepControl]="calendarProform" [editable]="false">
        <form [formGroup]="calendarProform" (ngSubmit)="createCalendarPro(stepper)">

            <ng-template>Calendar Pro</ng-template>

            <div>
                <div fxLayoutAlign="center center">
                    <mat-form-field appearance="outline">
                        <mat-label>firstName </mat-label>
                        <input matInput formControlName="firstName" required>
                        <span matSuffix class="material-icons-outlined">info </span>
                    </mat-form-field>

                    <mat-form-field style="margin-left: 12%;" appearance="outline">
                        <mat-label>lastName</mat-label>
                        <input matInput formControlName="lastName" required>
                        <span matSuffix class="material-icons-outlined">info </span>
                    </mat-form-field>

                </div>

                <br>

                <div fxLayoutAlign="center center">
                    <mat-form-field appearance="outline">
                        <mat-label>Address</mat-label>
                        <input matInput formControlName="address" required>
                        <span matSuffix class="material-icons-outlined">info </span>
                    </mat-form-field>

                    <mat-form-field style="margin-left: 12%;" appearance="outline">
                        <mat-label>Job: </mat-label>
                        <span matSuffix class="material-icons-outlined">info </span>
                        <mat-select required formControlName="job" required>
                            <mat-option *ngFor="let job of list" [value]="job">{{job}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>


                <br>

                <div fxLayoutAlign="center center">
                    <mat-form-field class="example-form-field" appearance="outline">
                        <mat-label>calendar Validate(Max 3 months)</mat-label>
                        <mat-date-range-input [rangePicker]="campaignOnePicker" [max]="max" [min]="min">
                            <input (ngModelChange)="startChanged($event)" matStartDate placeholder="Start date" formControlName="startDate">
                            <input matEndDate placeholder="End date" formControlName="expiryDate">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                        <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
                    </mat-form-field>
                </div>
                <br>

                <div fxLayoutAlign="center center">
                    <mat-form-field appearance="outline">
                        <mat-label>duration(in minute)</mat-label>
                        <input matInput formControlName="duration" type="number" min="15" required>

                        <span matSuffix class="material-icons-outlined">    schedule  </span>
                    </mat-form-field>

                    <mat-form-field style="margin-left: 12%;" appearance="outline">
                        <mat-label>duration between session(in minute)</mat-label>
                        <input matInput formControlName="duration" type="number" min="15" required>
                        <span matSuffix class="material-icons-outlined">    schedule  </span>
                    </mat-form-field>
                </div>
                <br>

                <div class="card-header text-center">
                    <h2> Horaires de travail </h2>
                </div>
                <div class="card-body">
                    <div *ngFor="let weeKSchedule of   calendarProform.controls.weekSchedule['controls']; let j=index" [formGroup]="weeKSchedule">
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <h3 *ngIf="j==0">Monday</h3>
                                <h3 *ngIf="j==1">Tuesday</h3>
                                <h3 *ngIf="j==2">Wednesday</h3>
                                <h3 *ngIf="j==3">Thursday</h3>
                                <h3 *ngIf="j==4">Friday</h3>
                                <h3 *ngIf="j==5">Saturday</h3>
                                <h3 *ngIf="j==6">Sunday</h3>
                                <div>
                                    <button (click)="addSeance(i,j)" color="primary" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                                          <mat-icon>add_circle_outline</mat-icon>
                                        </button>
                                </div>
                            </div>

                        </div>

                        <div fxLayout="row" fxLayoutAlign="center center" *ngFor="let itemrow of weeKSchedule.controls; let t=index" [formGroupName]="t">
                            <div style="margin-right: 3%">
                                <h5>session {{t+1}}</h5>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <div style="margin-right: 3%">
                                    <mat-form-field appearance="outline">
                                        <mat-label>start</mat-label>
                                        <input type="time" matInput formControlName="start" required>

                                    </mat-form-field>
                                </div>
                                <div style="margin-right: 3%">
                                    <mat-form-field appearance="outline">
                                        <mat-label>end</mat-label>
                                        <input type="time" matInput formControlName="end" required>
                                    </mat-form-field>
                                </div>

                                <div>
                                    <button (click)="deleteSeance(i,j,t)" color="warn" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                                          <mat-icon>remove_circle_outline</mat-icon>
                                        </button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
            <div fxLayoutAlign="center center">

                <button *ngIf="!id" type="submit" (click)="showSuccess()" class='btn btn-success'>    <span class='glyphicon glyphicon-saved'></span>Save </button>
                <button *ngIf="id" (click)="updateCalendarPro(stepper)" [disabled]="calendarProform.invalid ||!formchng" class='btn btn-primary'>    <span class='glyphicon glyphicon-saved'></span>update </button>

            </div>
        </form>

        <div fxLayout="row" fxLayoutAlign="space-around center" class="card-footer">

        </div>

    </mat-step>

</mat-horizontal-stepper>