<mat-card style="margin-top: 2%;margin-bottom: 2%" class="example-card ">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Event Name</mat-card-title>
    <mat-card-subtitle>20/01/2020</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../../assets/img/event.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet aut deserunt distinctio eius eligendi est, et excepturi fuga hic impedit neque, officiis porro possimus quae saepe temporibus ullam.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button class="btn btn-primary" mat-button>LIKE</button>
    <button class="btn btn-danger" mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
