<div fxLayout="column" fxLayoutAlign="space-around center" >
<div *ngIf="is_loading">


  <mat-card-content class="text-center"  >
    <img *ngIf="event.image!=''" style="height: 200px" mat-card-image [src]="event.image" >
    <div *ngIf="!event.recurrence" fxLayout="row" fxLayoutAlign="space-around center">

      <h6 style="color: rgba(0,0,0,0.29)" fxFlex="20" ><strong>date:</strong></h6>
      <h6 fxFlex="60">{{event.date}}</h6>

    </div>
    <div *ngIf="event.recurrence">
      <div  fxLayout="row" fxLayoutAlign="space-around center">

        <h6 style="color: rgba(0,0,0,0.29)" fxFlex="20" ><strong>Recurrence:</strong></h6>
        <h6 fxFlex="60">{{event.recurrenceType}}</h6>

      </div>
      <div *ngIf="event.recurrenceType=='YEARLY'" fxLayout="row" fxLayoutAlign="space-around center">

        <h6 style="color: rgba(0,0,0,0.29)" fxFlex="20" ><strong>day of the Year:</strong></h6>
        <h6 fxFlex="60">{{event.date.split('-')[2]}}/{{event.date.split('-')[1]}}</h6>

      </div>
      <div *ngIf="event.recurrenceType=='MONTHLY'" fxLayout="row" fxLayoutAlign="space-around center">

        <h6 style="color: rgba(0,0,0,0.29)" fxFlex="20" ><strong>day of the Month:</strong></h6>
        <h6 fxFlex="60">{{event.date.split('-')[2]}}</h6>

      </div>
      <div *ngIf="event.recurrenceType=='WEEKLY'" fxLayout="row" fxLayoutAlign="space-around center">

        <h6 style="color: rgba(0,0,0,0.29)" fxFlex="20" ><strong>Recurrence each:</strong></h6>
        <h6 fxFlex="60">{{days[event.date]}}</h6>

      </div>
    </div>

    <div  fxLayout="row" fxLayoutAlign="space-around center">

      <h6 style="color: rgba(0,0,0,0.29)" fxFlex="20" ><strong>Start:</strong></h6>
      <h6 fxFlex="60">{{event.start}}</h6>

    </div>
    <div  fxLayout="row" fxLayoutAlign="space-around center">

      <h6 style="color: rgba(0,0,0,0.29)" fxFlex="20" ><strong>End:</strong></h6>
      <h6 fxFlex="60">{{event.end}}</h6>

    </div>
    <div  fxLayout="row" fxLayoutAlign="space-around center">

      <h6 style="color: rgba(0,0,0,0.29)" fxFlex="20" ><strong>Description:</strong></h6>
      <h6 fxFlex="60">{{event.description}}</h6>
    </div>
  </mat-card-content>
  <mat-dialog-actions *ngIf="event.userId==userService.userConnected.id" align="end">
    <button (click)="update()" mat-raised-button color="primary">Update</button>
    <button (click)="delete()"   mat-raised-button color="warn">Delete</button>
  </mat-dialog-actions>
</div>

</div>
