<div id="overlay" >
  <div class="w-100 d-flex justify-content-center align-items-center">
    <div class="spinner"></div>
  </div>
</div>
<div *ngIf="loading" fxLayout="row" fxLayoutAlign="space-around center">
  <mat-spinner></mat-spinner>
</div>
<mat-horizontal-stepper *ngIf="!loading"  linear #stepper>

  <mat-step [stepControl]="firstFormGroup" [editable]="false" >
    <form [formGroup]="firstFormGroup" >
      <ng-template matStepLabel>Calendar Group Info</ng-template>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" required>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Address</mat-label>
          <input matInput  formControlName="address" required>
        </mat-form-field>
      </p>
      <div *ngIf="!id">
        <div  class="alert alert-info text-center">
          <mat-icon  class="example-tab-icon ">info</mat-icon>
          <br> This  will be applicable to each calendar, but you can change it later.
        </div>

        <mat-form-field  class="example-form-field" appearance="outline">
          <mat-label>calendar Validate(Max 3 months)</mat-label>
          <mat-date-range-input

            [rangePicker]="campaignOnePicker"
            [max]="max"
            [min]="min"

          >
            <input (ngModelChange)="startChanged($event)"  matStartDate placeholder="Start date" formControlName="startDate">
            <input matEndDate placeholder="End date" formControlName="endDate">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
          <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
        </mat-form-field>
        <div>
          <mat-form-field     appearance="outline">
            <mat-label>Job:</mat-label>
            <mat-select   required formControlName="job">
              <mat-option *ngFor="let job of list"  [value]="job">{{job}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <mat-form-field  appearance="outline">
          <mat-label>duration(in minute)</mat-label>
          <input matInput formControlName="duration" type="number" min="15"
                 required>
        </mat-form-field>
        <div  *ngFor="let weeKSchedule of firstFormGroup.controls.weekSchedule['controls']; let j=index"  [formGroup]="weeKSchedule"   >
          <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center"  >
              <h3 *ngIf="j==0">Monday</h3>
              <h3 *ngIf="j==1">Tuesday</h3>
              <h3 *ngIf="j==2">Wednesday</h3>
              <h3 *ngIf="j==3">Thursday</h3>
              <h3 *ngIf="j==4">Friday</h3>
              <h3 *ngIf="j==5">Saturday</h3>
              <h3 *ngIf="j==6">Sunday</h3>
              <div >
                <button  (click)="addSeanceFirstForm(j)" color="primary" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                  <mat-icon>add_circle_outline</mat-icon>
                </button>
              </div>
            </div>

          </div>

          <div fxLayout="row" fxLayoutAlign="center center" *ngFor="let itemrow of weeKSchedule.controls; let t=index" [formGroupName]="t" >
            <div  style="margin-right: 3%" >
              <h5>session {{t+1}}</h5>
            </div>
            <div  fxLayout="row" fxLayoutAlign="start center"  >
              <div style="margin-right: 3%" >
                <mat-form-field appearance="outline">
                  <mat-label>start</mat-label>
                  <input type="time" matInput formControlName="start"
                         required>
                </mat-form-field>
              </div>
              <div style="margin-right: 3%" >
                <mat-form-field appearance="outline">
                  <mat-label>end</mat-label>
                  <input type="time" matInput formControlName="end"
                         required>
                </mat-form-field>
              </div>

              <div >
                <button (click)="deleteSeanceFirstForm(j,t)" color="warn" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                  <mat-icon>remove_circle_outline</mat-icon>
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>



      <div>
        <button *ngIf="!id" (click)="createCalendarGroup(stepper)" [disabled]="firstFormGroup.invalid" mat-raised-button color="warn" >Next</button>
        <button style="margin-right: 2%" *ngIf="id"  [disabled]="firstFormGroup.invalid" matStepperNext mat-raised-button color="primary" >Skip</button>
        <button *ngIf="id" (click)="updateCalendarGroup(stepper)" [disabled]="firstFormGroup.invalid||!FirstGroupChanged" mat-raised-button color="warn" >Update</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" >

    <ng-template matStepLabel>Calendar Pro</ng-template>
    <button class="text-center" (click)="addCalendar()" mat-raised-button color="accent">
      Calendar
      <mat-icon>add</mat-icon>
    </button>
    <mat-horizontal-stepper  #stepper>
      <mat-step   *ngFor="let calendarPro of secondFormGroup.controls.calendarPro['controls']; let i=index"  [formGroup]="calendarPro" >


        <ng-template matStepLabel>
          <button *ngIf="i!=0&&!id" (click)="removeCalendarPro(i)" color="warn"  mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>highlight_off</mat-icon>
          </button>
          <button *ngIf="id&&i>=calendarGroup.calendarProList.length" (click)="removeCalendarPro(i)" color="warn"  mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>highlight_off</mat-icon>
          </button>
          Calendar Pro{{i+1}}

          <mat-slide-toggle formControlName="enabled"  color="warn"></mat-slide-toggle>
          </ng-template>



          <div>
            <div>
              <mat-form-field appearance="outline">
                <mat-label>firstName</mat-label>
                <input matInput formControlName="firstName"
                       required>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline">
                <mat-label>lastName</mat-label>
                <input matInput formControlName="lastName"
                       required>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline">
                <mat-label>address</mat-label>
                <input [ngModel]="firstFormGroup.value.address" matInput formControlName="address"
                       required>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="example-form-field" appearance="outline">
                <mat-label>calendar Validate(Max 3 months)</mat-label>
                <mat-date-range-input

                  [rangePicker]="campaignOnePicker"

                >
                  <input *ngIf="!id" [ngModel]="firstFormGroup.value.startDate"  matStartDate placeholder="Start date" formControlName="startDate">
                  <input *ngIf="!id" [ngModel]="firstFormGroup.value.endDate" matEndDate placeholder="End date" formControlName="endDate">
                  <input  *ngIf="id"   matStartDate placeholder="Start date" formControlName="startDate">
                  <input *ngIf="id"  matEndDate placeholder="End date" formControlName="endDate">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
              </mat-form-field>
            </div>
            <div>



            </div>
            <div>
              <mat-form-field *ngIf="!id"   appearance="outline">
                <mat-label>Job:</mat-label>
                <mat-select  [ngModel]="firstFormGroup.value.job"  required formControlName="job">
                  <mat-option *ngFor="let job of list"  [value]="job">{{job}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field   *ngIf="id"  appearance="outline">
                <mat-label>Job:</mat-label>
                <mat-select    required formControlName="job">
                  <mat-option *ngFor="let job of list"  [value]="job">{{job}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div *ngIf="id&&i<calendarGroup.calendarProList.length" class="alert alert-danger text-center">
            <mat-icon  class="example-tab-icon ">warning</mat-icon>
            <br> Any appointments that their session modifies will be deleted and an apology email will be sent.
          </div>
            <div *ngIf="id&&i>=calendarGroup.calendarProList.length" class="alert alert-info text-center">
            <mat-icon  class="example-tab-icon ">info</mat-icon>
            <br> Each session will be divided by the duration.
          </div>
            <div *ngIf="!id" class="alert alert-info text-center">
              <mat-icon  class="example-tab-icon ">info</mat-icon>
              <br> Each session will be divided by the duration.
            </div>
            <mat-form-field *ngIf="!id" appearance="outline">
              <mat-label>duration(in minute)</mat-label>
              <input [ngModel]="firstFormGroup.value.duration" matInput formControlName="duration" type="number" min="15"
                     required>
            </mat-form-field>
            <mat-form-field *ngIf="id" appearance="outline">
              <mat-label>duration(in minute)</mat-label>
              <input  matInput formControlName="duration" type="number" min="15"
                     required>
            </mat-form-field>
            <div  *ngFor="let weeKSchedule of calendarPro.controls.weekSchedule['controls']; let j=index"  [formGroup]="weeKSchedule"   >
              <div fxLayout="row" fxLayoutAlign="center center">
                <div fxLayout="row" fxLayoutAlign="center center"  >
                  <h3 *ngIf="j==0">Monday</h3>
                  <h3 *ngIf="j==1">Tuesday</h3>
                  <h3 *ngIf="j==2">Wednesday</h3>
                  <h3 *ngIf="j==3">Thursday</h3>
                  <h3 *ngIf="j==4">Friday</h3>
                  <h3 *ngIf="j==5">Saturday</h3>
                  <h3 *ngIf="j==6">Sunday</h3>
                  <div >
                    <button  (click)="addSeance(i,j)" color="primary" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                      <mat-icon>add_circle_outline</mat-icon>
                    </button>
                  </div>
                </div>

              </div>

              <div fxLayout="row" fxLayoutAlign="center center" *ngFor="let itemrow of weeKSchedule.controls; let t=index" [formGroupName]="t" >
                <div  style="margin-right: 3%" >
                  <h5>session {{t+1}}</h5>
                </div>
                <div  fxLayout="row" fxLayoutAlign="start center"  >
                  <div style="margin-right: 3%" >
                    <mat-form-field appearance="outline">
                      <mat-label>start</mat-label>
                      <input type="time" matInput formControlName="start"
                             required>
                    </mat-form-field>
                  </div>
                  <div style="margin-right: 3%" >
                    <mat-form-field appearance="outline">
                      <mat-label>end</mat-label>
                      <input type="time" matInput formControlName="end"
                             required>
                    </mat-form-field>
                  </div>

                  <div >
                    <button (click)="deleteSeance(i,j,t)" color="warn" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                      <mat-icon>remove_circle_outline</mat-icon>
                    </button>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div>
            <button *ngIf="i!=0" style="margin-right: 2%" mat-raised-button color="primary" matStepperPrevious>Back</button>
            <button [disabled]="calendarPro.invalid" *ngIf="i+1!=secondFormGroup.controls.calendarPro['controls'].length" mat-raised-button color="warn" matStepperNext>Next</button>
          </div>

      </mat-step>
    </mat-horizontal-stepper>
    <div>

      <button *ngIf="!id" (click)="createCalendarsPro(stepper)" [disabled]="secondFormGroup.invalid" mat-raised-button color="warn" >Next</button>
      <button *ngIf="id" style="margin-right: 2%"  [disabled]="secondFormGroup.invalid" matStepperNext mat-raised-button color="primary" >Skip</button>
      <button *ngIf="id" (click)="updateCalendarsPro(stepper)" [disabled]="secondFormGroup.invalid||(!SecondFormChanged&&NbCalendarPro==0)" mat-raised-button color="warn" >Update</button>
    </div>
  </mat-step>

</mat-horizontal-stepper>
