<div id="overlay" >
  <div class="w-100 d-flex justify-content-center align-items-center">
    <div class="spinner"></div>
  </div>
</div>
<div *ngIf="loading" fxLayout="row" fxLayoutAlign="space-around center">
  <mat-spinner></mat-spinner>
</div>
<mat-horizontal-stepper *ngIf="!loading"  linear #stepper>

  <mat-step [stepControl]="firstFormGroup" [editable]="false" >
    <form [formGroup]="firstFormGroup" >
      <ng-template matStepLabel i18n>Calendar Group Info</ng-template>

      <p>
        <mat-form-field appearance="outline">
          <mat-label i18n>Name</mat-label>
          <input matInput formControlName="name" required>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label i18n>Address</mat-label>
          <input matInput  formControlName="address" required>
        </mat-form-field>
      </p>
      <div>
        <div  fxLayout="row" fxLayoutAlign="start center">
          <h2 i18n>Admins</h2>
          <div >
            <button type="button" (click)="addAdmin()" color="primary" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
              <mat-icon>add_circle_outline</mat-icon>
            </button>
          </div>
        </div>
        <div  fxLayout="row" fxLayoutAlign="start center" *ngFor="let admin of firstFormGroup.controls.admins['controls'];let i=index" [formGroup]="admin">
          <mat-form-field appearance="outline">
            <mat-label i18n>Email</mat-label>
            <input  [readonly]="i==0" matInput formControlName="email"
                   required>
          </mat-form-field>
          <div >
            <button *ngIf="i!=0" (click)="deleteAdmin(i)" color="warn" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
              <mat-icon>remove_circle_outline</mat-icon>
            </button>
          </div>
        </div>
      <div *ngIf="!id">
        <div  class="alert alert-info text-center">
          <mat-icon  class="example-tab-icon ">info</mat-icon>
          <br> <p i18n>This  will be applicable to each calendar, but you can change it later.</p>
        </div>
        <div  class="alert alert-info text-center">
          <mat-icon  class="example-tab-icon ">info</mat-icon>
          <br> <p i18n>Enable people to follow your calendar to keep him updated.</p>
        </div>
        <div> <h2 i18n>Follow <mat-slide-toggle formControlName="follow"  color="warn"></mat-slide-toggle></h2></div>
        <div> <h2 i18n>Video consultation <mat-slide-toggle formControlName="videoConsultation"  color="warn"></mat-slide-toggle></h2></div>

        <mat-form-field  class="example-form-field" appearance="outline">
          <mat-label i18n>calendar Validate(Max 3 months)</mat-label>
          <mat-date-range-input

            [rangePicker]="campaignOnePicker"
            [max]="max"
            [min]="min"

          >
            <input   matStartDate placeholder="Start date" formControlName="startDate">
            <input matEndDate placeholder="End date" formControlName="endDate">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
          <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
        </mat-form-field>
        <div>
          <mat-form-field     appearance="outline">
            <mat-label i18n>Job:</mat-label>
            <mat-select   required formControlName="job">
              <mat-option *ngFor="let job of list"  [value]="job">{{job}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <mat-form-field  appearance="outline">
          <mat-label i18n>duration(in minute)</mat-label>
          <input matInput formControlName="duration" type="number" min="15"
                 required>
        </mat-form-field>
        <div  class="alert alert-info text-center">
          <mat-icon  class="example-tab-icon ">info</mat-icon>
          <br>  <p i18n>add number of clients per session by default one client per session.</p>
        </div>
        <div class="text-center">
          <button (click)="addClients()" mat-raised-button color="warn">Add</button>
        </div>

        <div  *ngFor="let weeKSchedule of firstFormGroup.controls.weekSchedule['controls']; let j=index"  [formGroup]="weeKSchedule"   >
          <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center"  >
              <h3 i18n *ngIf="j==0">Monday</h3>
              <h3  i18n *ngIf="j==1">Tuesday</h3>
              <h3 i18n *ngIf="j==2">Wednesday</h3>
              <h3 i18n *ngIf="j==3">Thursday</h3>
              <h3 i18n *ngIf="j==4">Friday</h3>
              <h3 i18n *ngIf="j==5">Saturday</h3>
              <h3  i18n *ngIf="j==6">Sunday</h3>
              <div >
                <button  (click)="addSeanceFirstForm(j)" color="primary" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                  <mat-icon>add_circle_outline</mat-icon>
                </button>
              </div>
            </div>

          </div>

          <div fxLayout="row" fxLayoutAlign="center center" *ngFor="let itemrow of weeKSchedule.controls; let t=index" [formGroupName]="t" >
            <div  style="margin-right: 3%" >
              <h5 i18n>session {{t+1}}</h5>
            </div>
            <div  fxLayout="row" fxLayoutAlign="start center"  >
              <div style="margin-right: 3%" >
                <mat-form-field appearance="outline">
                  <mat-label i18n>start</mat-label>
                  <input type="time" matInput formControlName="start"
                         required>
                </mat-form-field>
              </div>
              <div style="margin-right: 3%" >
                <mat-form-field appearance="outline">
                  <mat-label i18n>end</mat-label>
                  <input type="time" matInput formControlName="end"
                         required>
                </mat-form-field>
              </div>
              <div *ngIf="nbClients" style="margin-right: 3%" >
                <mat-form-field appearance="outline">
                  <mat-label i18n>nbTotalPlaces</mat-label>
                  <input type="number" matInput formControlName="nbTotalPlaces"
                         required>
                </mat-form-field>
              </div>
              <div >
                <button (click)="deleteSeanceFirstForm(j,t)" color="warn" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                  <mat-icon>remove_circle_outline</mat-icon>
                </button>
              </div>
            </div>

          </div>
        </div>
        <div class="text-center">
          <div  class="alert alert-info text-center">
            <mat-icon  class="example-tab-icon ">info</mat-icon>
            <br>  <p i18n>add exception dates that can be yearly or monthly.</p>
          </div>
          <button i18n  (click)="addException()" mat-raised-button color="accent">
            Exception
            <mat-icon>add</mat-icon>
          </button>
          <div fxLayout="row" fxLayoutAlign="center center" >
            <mat-card class="example-card "  *ngFor="let exception of firstFormGroup.controls.exception['controls'];let r=index" [formGroup]="exception">
              <div >
                <button style="position: absolute;right: -2%;top: -2%" (click)="deleteException(r)" color="warn" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                  <mat-icon>remove_circle_outline</mat-icon>
                </button>
              </div>
              <mat-form-field    appearance="outline">
                <mat-label i18n>Recurrence:</mat-label>
                <mat-select formControlName="recurrenceType" [value]="list[0]" required   >
                  <mat-option *ngFor="let l of list2"  [value]="l">{{l}}</mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf="exception.value.recurrenceType =='YEARLY'">
                <mat-form-field dateFormat1 appearance="outline">
                  <mat-label i18n>choose the day</mat-label>
                  <input formControlName="date"  matInput required [matDatepicker]="dp2" >
                  <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                  <mat-datepicker startView="year"  #dp2 panelClass="example-month-picker"></mat-datepicker>
                </mat-form-field>
              </div>
              <div *ngIf="exception.value.recurrenceType =='MONTHLY'">
                <mat-form-field dateFormat2 appearance="outline">
                  <mat-label i18n>choose the day</mat-label>
                  <label>
                    <input formControlName="date"   required matInput [matDatepicker]="dp3"  >
                  </label>
                  <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                  <mat-datepicker startView="month"  #dp3 panelClass="example-month-picker"></mat-datepicker>
                </mat-form-field>
              </div>
            </mat-card >
          </div>

        </div>

      </div>

      <div>
        <button i18n *ngIf="!id" (click)="createCalendarGroup(stepper)" [disabled]="firstFormGroup.invalid" mat-raised-button color="warn" >Next</button>
        <button i18n style="margin-right: 2%" *ngIf="id"  [disabled]="firstFormGroup.invalid" matStepperNext mat-raised-button color="primary" >Skip</button>
        <button i18n *ngIf="id" (click)="updateCalendarGroup(stepper)" [disabled]="firstFormGroup.invalid||!FirstGroupChanged" mat-raised-button color="warn" >Update</button>
      </div>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" >

    <ng-template i18n matStepLabel>Calendar Pro</ng-template>
    <button i18n class="text-center" (click)="addCalendar()" mat-raised-button color="accent">
      Calendar
      <mat-icon>add</mat-icon>
    </button>
    <mat-horizontal-stepper  #stepper>
      <mat-step   *ngFor="let calendarPro of secondFormGroup.controls.calendarPro['controls']; let i=index"  [formGroup]="calendarPro" >


        <ng-template matStepLabel i18n>
          <button *ngIf="i!=0&&!id" (click)="removeCalendarPro(i)" color="warn"  mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>highlight_off</mat-icon>
          </button>
          <button *ngIf="id&&i>=calendarGroup.calendarProList.length" (click)="removeCalendarPro(i)" color="warn"  mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>highlight_off</mat-icon>
          </button>
          Calendar Pro{{i+1}}

          <mat-slide-toggle formControlName="enabled"  color="warn"></mat-slide-toggle>
          </ng-template>


        <div *ngIf="id" > <h2 i18n>Follow  <mat-slide-toggle  formControlName="follow"  color="warn"></mat-slide-toggle></h2></div>
        <div *ngIf="!id"  > <h2 i18n>Follow <mat-slide-toggle [ngModel]="firstFormGroup.value.follow" formControlName="follow"  color="warn"></mat-slide-toggle></h2></div>
        <div *ngIf="id" > <h2 i18n>Video consultation <mat-slide-toggle  formControlName="videoConsultation"  color="warn"></mat-slide-toggle></h2></div>
        <div *ngIf="!id" > <h2 i18n>Video consultation <mat-slide-toggle [ngModel]="firstFormGroup.value.videoConsultation" formControlName="videoConsultation"  color="warn"></mat-slide-toggle></h2></div>
          <div>
            <div>
              <mat-form-field appearance="outline">
                <mat-label i18n>firstName</mat-label>
                <input matInput formControlName="firstName"
                       required>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline">
                <mat-label i18n>lastName</mat-label>
                <input matInput formControlName="lastName"
                       required>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline">
                <mat-label i18n>address</mat-label>
                <input *ngIf="id"  matInput formControlName="address"
                       required>
                <input *ngIf="!id" [ngModel]="firstFormGroup.value.address" matInput formControlName="address"
                       required>
              </mat-form-field>
            </div>
            <div *ngIf="id&&i<calendarGroup.calendarProList.length" class="alert alert-danger text-center">
              <mat-icon  class="example-tab-icon ">warning</mat-icon>
              <br> <p i18n>
              Your calendar is active from {{calendarGroup.calendarProList[i].startDate}} to {{calendarGroup.calendarProList[i].expiryDate}} if you change the time of a meeting session during this period
              they will be deleted and an apology email will be sent you can start the modification from {{calendarPro.value.startDate}} there will be no problem.

            </p></div>
            <div>
              <mat-form-field class="example-form-field" appearance="outline">
                <mat-label i18n>calendar Validate(Max 3 months)</mat-label>
                <mat-date-range-input

                  [rangePicker]="campaignOnePicker"
                  [max]="max"
                  [min]="min"

                >
                  <input *ngIf="!id" [ngModel]="firstFormGroup.value.startDate"  matStartDate i18n-placeholder placeholder="Start date" formControlName="startDate">
                  <input *ngIf="!id" [ngModel]="firstFormGroup.value.endDate" matEndDate i18n-placeholder placeholder="End date" formControlName="endDate">
                  <input  *ngIf="id"    matStartDate placeholder="Start date" formControlName="startDate">
                  <input *ngIf="id"  matEndDate placeholder="End date" formControlName="endDate">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
              </mat-form-field>
            </div>
            <div>



            </div>
            <div>
              <mat-form-field *ngIf="!id"   appearance="outline">
                <mat-label i18n>Job:</mat-label>
                <mat-select  [ngModel]="firstFormGroup.value.job"  required formControlName="job">
                  <mat-option *ngFor="let job of list"  [value]="job">{{job}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field   *ngIf="id"  appearance="outline">
                <mat-label i18n>Job:</mat-label>
                <mat-select    required formControlName="job">
                  <mat-option *ngFor="let job of list"  [value]="job">{{job}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div *ngIf="id&&i>=calendarGroup.calendarProList.length" class="alert alert-info text-center">
            <mat-icon  class="example-tab-icon ">info</mat-icon>
            <br> <p i18n>Each session will be divided by the duration.</p>
          </div>
            <div *ngIf="!id" class="alert alert-info text-center">
              <mat-icon  class="example-tab-icon ">info</mat-icon>
              <br> <p i18n>Each session will be divided by the duration.</p>
            </div>
            <mat-form-field *ngIf="!id" appearance="outline">
              <mat-label i18n>duration(in minute)</mat-label>
              <input [ngModel]="firstFormGroup.value.duration" matInput formControlName="duration" type="number" min="15"
                     required>
            </mat-form-field>
            <mat-form-field *ngIf="id" appearance="outline">
              <mat-label i18n>duration(in minute)</mat-label>
              <input  matInput formControlName="duration" type="number" min="15"
                     required>
            </mat-form-field>
            <div *ngIf="!id&&!nbClients">
              <div  class="alert alert-info text-center">
                <mat-icon  class="example-tab-icon ">info</mat-icon>
                <br> <p i18n>add number of clients per session by default one client per session.</p>
              </div>
              <div class="text-center">
                <button i18n (click)="addClients()" mat-raised-button color="warn">Add</button>
              </div>
            </div>
            <div *ngIf="id&&!nbClients">
              <div  class="alert alert-info text-center">
                <mat-icon  class="example-tab-icon ">info</mat-icon>
                <br> <p i18n>edit number of clients per session.</p>
              </div>
              <div class="text-center">
                <button i18n (click)="addClients()" mat-raised-button color="warn">edit</button>
              </div>
            </div>
            <div  *ngFor="let weeKSchedule of calendarPro.controls.weekSchedule['controls']; let j=index"  [formGroup]="weeKSchedule"   >
              <div fxLayout="row" fxLayoutAlign="center center">
                <div fxLayout="row" fxLayoutAlign="center center"  >
                  <h3 i18n *ngIf="j==0">Monday</h3>
                  <h3 i18n *ngIf="j==1">Tuesday</h3>
                  <h3 i18n *ngIf="j==2">Wednesday</h3>
                  <h3 i18n *ngIf="j==3">Thursday</h3>
                  <h3 i18n *ngIf="j==4">Friday</h3>
                  <h3 i18n *ngIf="j==5">Saturday</h3>
                  <h3 i18n *ngIf="j==6">Sunday</h3>
                  <div >
                    <button  (click)="addSeance(i,j)" color="primary" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                      <mat-icon>add_circle_outline</mat-icon>
                    </button>
                  </div>
                </div>

              </div>

              <div fxLayout="row" fxLayoutAlign="center center" *ngFor="let itemrow of weeKSchedule.controls; let t=index" [formGroupName]="t" >
                <div  style="margin-right: 3%" >
                  <h5 i18n>session {{t+1}}</h5>
                </div>
                <div  fxLayout="row" fxLayoutAlign="start center"  >
                  <div style="margin-right: 3%" >
                    <mat-form-field appearance="outline">
                      <mat-label i18n>start</mat-label>
                      <input type="time" matInput formControlName="start"
                             required>
                    </mat-form-field>
                  </div>
                  <div style="margin-right: 3%" >
                    <mat-form-field appearance="outline">
                      <mat-label i18n>end</mat-label>
                      <input type="time" matInput formControlName="end"
                             required>
                    </mat-form-field>
                  </div>
                  <div *ngIf="nbClients" style="margin-right: 3%" >
                    <mat-form-field appearance="outline">
                      <mat-label i18n>nbTotalPlaces</mat-label>
                      <input type="number" matInput formControlName="nbTotalPlaces"
                             required>
                    </mat-form-field>
                  </div>
                  <div >
                    <button (click)="deleteSeance(i,j,t)" color="warn" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                      <mat-icon>remove_circle_outline</mat-icon>
                    </button>
                  </div>
                </div>

              </div>
            </div>
            <div class="text-center">
              <div  class="alert alert-info text-center">
                <mat-icon  class="example-tab-icon ">info</mat-icon>
                <br>  <p i18n>add exception dates that can be yearly or monthly.</p>
              </div>
              <button class="text-center" (click)="addExceptionForCalendarPro(i)" mat-raised-button color="accent">
                Exception
                <mat-icon>add</mat-icon>
              </button>
              <div fxLayout="row" fxLayoutAlign="center center" >
                <mat-card class="example-card" *ngFor="let exception of calendarPro.controls.exception['controls'];let d=index" [formGroup]="exception">
                  <div >
                    <button style="position: absolute;right: -2%;top: -2%" (click)="deleteExceptionFromCalendarPro(i,d)" color="warn" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                      <mat-icon>remove_circle_outline</mat-icon>
                    </button>
                  </div>
                  <mat-form-field    appearance="outline">
                    <mat-label i18n>Recurrence:</mat-label>
                    <mat-select formControlName="recurrenceType" [value]="list[0]" required   >
                      <mat-option *ngFor="let l of list2"  [value]="l">{{l}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div *ngIf="exception.value.recurrenceType =='YEARLY'">
                    <mat-form-field dateFormat1 appearance="outline">
                      <mat-label i18n>choose the day</mat-label>
                      <input formControlName="date"  matInput required [matDatepicker]="dp2" >
                      <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                      <mat-datepicker startView="year"  #dp2 panelClass="example-month-picker"></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div *ngIf="exception.value.recurrenceType =='MONTHLY'">
                    <mat-form-field dateFormat2 appearance="outline">
                      <mat-label i18n>choose the day</mat-label>
                      <label>
                        <input formControlName="date"   required matInput [matDatepicker]="dp3"  >
                      </label>
                      <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                      <mat-datepicker startView="month"  #dp3 panelClass="example-month-picker"></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div>

                  </div>
                </mat-card>

              </div>
            </div>
          </div>
          <div>
            <button *ngIf="i!=0" style="margin-right: 2%" mat-raised-button color="primary" matStepperPrevious>Back</button>
            <button [disabled]="calendarPro.invalid" *ngIf="i+1!=secondFormGroup.controls.calendarPro['controls'].length" mat-raised-button color="warn" matStepperNext>Next</button>
          </div>

      </mat-step>
    </mat-horizontal-stepper>
    <div>

      <button *ngIf="!id" (click)="createCalendarsPro(stepper)" [disabled]="secondFormGroup.invalid" mat-raised-button color="warn" >Next</button>
      <button *ngIf="id" style="margin-right: 2%"  [disabled]="secondFormGroup.invalid" matStepperNext mat-raised-button color="primary" >Skip</button>
      <button *ngIf="id" (click)="updateCalendarsPro(stepper)" [disabled]="secondFormGroup.invalid||(!SecondFormChanged&&NbCalendarPro==0)" mat-raised-button color="warn" >Update</button>
    </div>
  </mat-step>

</mat-horizontal-stepper>
